{% extends './base.html' %}
{% block app %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Issue date</th>
            <th scope="col">Planned finish date</th>
        </tr>
    </thead>
    <tbody>
    {% if todo_list %}
        {% for task in todo_list %}
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" {{ task.is_done }}>
                </div>
            </td>
            <td><a href="{% url 'todo:detail' task.id %}">{{ task.title }}</a></td>
            <td>{{ task.issue_date }}</td>
            <td>{{ task.deadline }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <p>You don't have any tasks!</p>
    {% endif %}
</tbody>
</table>

{% endblock %}